<a href="https://colab.research.google.com/github/divya-r-kamat/END/blob/main/Session_3/Session_3_Advanced_Python_for_General_Computing_%26_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # ***Session 3 Assignment***

### **Question 1 :** Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not. You can use a pre-calculated list/dict to store fab numbers till 10000

In [1]:
##Generate Fabonacci numbers till 10000 and stores in a list
fibs = [0, 1]
for i in range(2,100001):
  fibs.append(fibs[-1] + fibs[-2])

def is_fibonacci(n):
  ''' This function checks if the number is fibonacci number or not
  input : A number to check '''
  
  try: 
    if isinstance(n, int) and n >=0:
      output = bool(list(filter(lambda x: n == x, fibs)))
      return output
    else:
       raise ValueError
  except ValueError:
    print ("please enter positive integer!")

In [2]:
is_fibonacci(3)

True

### **Question2 :**  Using list comprehension (and zip/lambda etc if required) write five different expressions that:

#### *1.  add 2 iterables a and b such that a is even and b is odd*

In [3]:
def fn_add_two_iterables(a,b):
  ''' This function accepts two iterables (a,b) and adds such that 
  a is even and b is odd'''

  output = [x + y  for x, y in zip(a,b) if x %2 ==0 and y%2 !=0  ]
  return output

In [4]:
fn_add_two_iterables([2,4,6,5], [1,9,8,2])

[3, 13]

#### 2. strips every vowel from a string provided (tsai>>t s)

In [5]:
def fn_vowel_strip(input):
  ''' function that strips every vowel from a string provided (tsai>>t s)'''

  Vowels = ['a','e','i','o','u']

  output = "".join([x for x in input if x not in Vowels])
  return output

In [6]:
fn_vowel_strip("Divya Kamat")

'Dvy Kmt'

#### 3. acts like a ReLU function for a 1D array

In [7]:
def ReLu(input):
  '''function that acts like a ReLU function for a 1D array'''

  output = [max(0,x) for x in input]
  return output

In [8]:
ReLu([1,-9,0,7,8,-5])

[1, 0, 0, 7, 8, 0]

#### 4. acts like a sigmoid function for a 1D array

In [9]:
import math
def sigmoid(input):
  '''Function that acts like a sigmoid function for a 1D array'''
  output = [1/ (1 + math.exp(-x)) for x in input]
  return output

In [10]:
sigmoid([ 0,  3, 50])

[0.5, 0.9525741268224334, 1.0]

#### 5. takes a small character string and shifts all characters by 5 (handle boundary conditions) tsai>>yxfn

In [11]:
def fn_shift_character(input):

  '''function that takes a small character string and shifts all characters by 5 (handle boundary conditions) tsai>>yxfn'''

  output =  ''.join(chr((ord(char) - 117 + 96) ) if ord(char)>117 else chr((ord(char) - 97 + 5 ) % 26 + 97) for char in input.lower())
  return output

In [12]:
fn_shift_character('tsai')

'yxfn'

In [13]:
fn_shift_character('uvwxyz')

'zabcde'

### **Question 3:** A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), and checks whether it has any of the swear words mentioned in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt

In [14]:
import urllib.request
def fn_check_swear_words(input):
  ''' A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), 
  and checks whether it has any of the swear words mentioned
  in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt'''


  content = urllib.request.urlopen('https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt')
  swear_words = content.read().decode('utf-8').split('\n')

  output = bool([ word for word in input.split(" ") if word.lower() in swear_words])
  return output

In [15]:
fn_check_swear_words('''5hit today is sunday, a55 anal anus ar5e arrse arse ass ass-fucker asses this is very good whether assfucker.
                    i am going on a holiday. assfukkad asshole I am not going to office today, 
                    assholes china created covid asswhole and mad our life a_s_s, US elections are next month b!tch''')

True

In [16]:
fn_check_swear_words('''I am a software engineer''')

False

### **Question 4:** Using reduce functions: 
- add only even numbers in a list
- find the biggest character in a string (printable ascii characters)
- adds every 3rd number in a list

#### 1. add only even numbers in a list

In [17]:
from functools import reduce
def add_even(input):
  '''function to add only even numbers in a list'''
  output = reduce(lambda x, y : x + y if y%2 == 0 else x, input,0)
  return output

In [18]:
add_even([1,2,3,4,5,6,7,8])

20

#### 2. find the biggest character in a string (printable ascii characters)

In [19]:
def fn_biggest_ascii_character(input):
  '''Function to find the biggest character in a string (printable ascii characters)'''
  output = reduce(lambda x, y : x if ord(x)>ord(y) else y,input)
  return output

In [20]:
fn_biggest_ascii_character("abcdAB123")

'd'

In [21]:
fn_biggest_ascii_character("@#)123atg;")

't'

#### 3. adds every 3rd number in a list

In [22]:
def fn_add_third_num(input): 
  '''Function to add every 3rd number in a list'''
  output = reduce(lambda x , y : x + y, input[::3])
  return output

In [23]:
fn_add_third_num([1,2,3,4,5,6,7, 8, 9, 10])

22

### **Question 5 :** Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999

In [24]:
import random
def fn_generate_n_number_plates(num):
  '''Function that generates 15 random KADDAADDDD number plates, where KA is fixed, 
  D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999
  using using randint, random.choice and list comprehensions'''
  output = ['KA' + str(random.randint(10,99)) + chr(random.randint(65,90)) + chr(random.randint(65,90)) + str(random.randint(1000,9999)) for _ in range(num) ]
  return output

In [25]:
fn_generate_n_number_plates(15)

['KA39CZ5467',
 'KA44YX5195',
 'KA29ZI5956',
 'KA90IP2099',
 'KA92ND3790',
 'KA29ET2529',
 'KA33PL3355',
 'KA66GQ6133',
 'KA62VP1684',
 'KA87KQ4317',
 'KA29YX8136',
 'KA18IJ6823',
 'KA84JR9500',
 'KA76QC8127',
 'KA23TB2588']

### **Question 6:** Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided

In [26]:
import random
def fn_generate_number_plates(state_cd, num, start_range, end_range):
  '''Function that generates 15 random KADDAADDDD number plates,where KA can be changed to DL, 
  D stands for a digit, and A stands for Capital alphabets and 1000/9999 ranges can be provided, 
  using using randint, random.choice and list comprehensions'''
  if len(state_cd)==2 and (start_range>=1000 and start_range<=9999) and (end_range>=1000 and end_range<=9999 and start_range < end_range):
     output = [state_cd + str(random.randint(10,99)) + chr(random.randint(65,90)) + chr(random.randint(65,90)) + str(random.randint(start_range,end_range)) for _ in range(num) ]
     return output
  else:
    print("Input arguments invalid")

In [27]:
fn_generate_number_plates('DL',10, 1000, 2000)

['DL81MM1895',
 'DL39EY1412',
 'DL77IE1008',
 'DL70YC1321',
 'DL57NJ1233',
 'DL78MY1115',
 'DL74YA1549',
 'DL49OZ1628',
 'DL65ML1895',
 'DL29IE1916']